@import url('http://fonts.cdnfonts.com/css/panton');

* {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 50px 0 50px 0;
} 

.input-container {
  /* margin-bottom: 20px; */
  margin-top: 20px;

}
.todo-list{
  display: flex;

}
.app h1 {
  /* font-family: 'Panton', sans-serif; */
  font-family: Futura, "Trebuchet MS";
  font-weight: black;
}
.todo-container {

  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* min-width: 1000px; */
  /* border: 1px solid black; */
}
.todo-item {
  border-right: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.todo-item-column {
  display: flex;
}
/*  */
.todo-days {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100px;
  /* width: 50px;  */

}
.todo-days-habits {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%; 
}

/*  */
.todo-completed-column{
  /* width: 80px; */
  width: 100px;
  display: flex;
flex-direction: column;
justify-content: center;
}
.habit-box {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  /* height: 20px; */
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.done {
  background-color: green;
}
.not-done {
  background-color: red;
}

.button {
  text-decoration: none;
  border: 0.1px solid white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
}
.locked {
  background-color: gray;
}
.todo-item p {
  /* font-family: 'Panton', sans-serif; */
  font-family: Futura, "Trebuchet MS";
  
  font-weight: bold;
  text-transform: capitalize;
  font-size: 12px;
}
.todo-days p {
  /* font-family: 'Panton', sans-serif; */
  font-family: Futura, "Trebuchet MS";
  font-weight: bold;
  text-transform: capitalize;
  font-size: 12px;
}
.input-button {
  width: auto;
  height: 25px;
  /* font-family: 'Panton', sans-serif; */
  font-family: Futura, "Trebuchet MS";
  font-weight: bold;
  text-transform: capitalize;
  

  font-size: 10px;
  margin-left: 5px;

}
.habit-list-board {
  display: flex;
  margin-top: 30px;
  width: 60%;
  flex-direction: row;
  justify-content: space-around;
}
.rules-container {
  width: 280px;
  /* border: 1px solid black; */
  /* font-family: 'Panton', sans-serif; */
  font-family: Futura, "Trebuchet MS";
  border-radius: 5px;
  padding: 10px;
}
.rules-container h2 {
  margin-bottom: 5px;
}
.rules-container h2:first-child {
  text-decoration: underline;
}
.delete {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 8px;
  width: 80px;
  align-self: center;

}
.completed-column {
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  /* width: 50px; */
  flex-direction: column;
  flex-wrap: wrap;
}
.button:hover {
  opacity: 60%;
}
@media only screen and (max-width: 600px) {
      .habit-list-board {
        display: flex;
        flex-direction: column;
        width: 100%;

      }
      .todo-days {
        width: 50px;
      }
      .rules-container {
        width: 100%;
      }
      .todo-list {
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
      }
      .app {
        margin: 0;
      } 
      .input-container {
        display: flex;
      
      }
      .rules-container {
        margin-bottom: 20px;
      }
      .todo-item {
        width: 80px;
      }
      .todo-completed-column {
        width: 80px;
      }

    }