@import url('http://fonts.cdnfonts.com/css/panton');

* {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100vw;
  padding-top: 50px;
} 

.input-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 20px;

}

.todo-list{
  min-width: 360px;
  display: flex;
  justify-content: center;
  font-family: Futura, "Trebuchet MS";
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.app h1 {
  font-family: Futura, "Trebuchet MS";
  text-transform: uppercase;
  font-weight: black;
}
.todo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  text-align: center;
}
.todo-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100px;
}

.todo-item-column {
  display: flex;
}

.todo-days {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}
.todo-days-habits {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.todo-completed-column{
  width: 100px;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.habit-box {
  font-size: 8px;
  width: 36px;
  height: 36px;
  background: #EEEEEE;
  opacity: 0.70;
  border-radius: 8px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  background-color: green;
}
.not-done {
  background-color: red;
}

.button {
  text-decoration: none;
  display: hidden;
}
.locked {
  background-color: gray;
}
.todo-item p {
  font-family: Futura, "Trebuchet MS";
  font-weight: bold;
  text-transform: uppercase;
}
.todo-days p {
  font-family: Futura, "Trebuchet MS";
  font-weight: bold;
}
.input {
  margin-left: 10px;
  color: black;
}
.button {
  font-weight: bold;
  width: 36px;
  height: 36px;
  background: #EEEEEE;
  opacity: 0.70;
  border-radius: 8px;
  /* margin-bottom: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.habit-list-board {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  text-align: center;
}
.container{
  width: 80%;
}

.rules-container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Futura, "Trebuchet MS";
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
}
.rules-container h2 {
  margin-bottom: 5px;
}
.rules-container h2:first-child {
  text-decoration: underline;
}
.delete {
background-color: red;
opacity: 100%;

}
.completed-column {
  height: 100%;
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
}
.button:hover {
  opacity: 60%;
}
@media only screen and (max-width: 600px) {
      .habit-list-board {
        display: flex;
        flex-direction: column;
        width: 100%;

      }
      .index-input-containerader {
        flex-direction: column;
      }

      .app {
        margin: 0;
      } 
      .input-container {
        display: flex;
      
      }
      /* Rows in the habit List */
      .todo-days {
        width: 70px;
      }
      .todo-item {
        width: 70px;
      }
      .todo-completed-column {
        width: 85px;
      }
      .rules-container {
        margin-top: 50px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      .todo-list {
        justify-content: space-around;
        /* m-width: 375px;  */
        flex-wrap: wrap;
      }
}


.index-input-container { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-off {
  background-color: lightgreen;
  display: relative;
  border-radius: 15px;
  border: none;
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
}

.habit-container {
  margin: 0 0 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disable {
  /* display: hidden; */
  all: none;
  border: none;
  background-color: transparent;
}

.true {
  background-color: black;
  opacity: 1;
}

.navbar {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
  background-color: whitesmoke;
}

.navbar div {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.button-logout {
  padding: 5px 10px 5px 10px;
  background-color: black;
  color: white;
}

.button-logout:hover {
  opacity: 60%;
}

.button-habit-board {
  padding: 5px 10px 5px 10px;
  background-color: darkblue;
  color: white;
}

.button-habit-board:hover {
  opacity: 60%;
}

.footer {
  margin-top: 50px;
  height: 100px;
  background-color: whitesmoke;
}

.buttons-container {
  max-width: 30%;
}