@import url('http://fonts.cdnfonts.com/css/panton');

* {
  margin: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 50px 0 50px 0;
} 

.input-container {
  /* margin-bottom: 20px; */
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;

}

.todo-list{
  min-width: 360px;
  display: flex;
  justify-content: flex-start;
  /* font-family: 'Inter'; */
  /* display: grid; */
  font-family: Futura, "Trebuchet MS";
  text-transform: uppercase;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
}
.app h1 {
  /* font-family: 'Panton', sans-serif; */
  font-family: Futura, "Trebuchet MS";
  text-transform: uppercase;
  font-weight: black;
}
.todo-container {
  /* display: inline-block; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; 
  text-align: center;
  
  /* min-width: 1000px; */
  /* border: 1px solid black; */
}
.todo-item {
  /* border-right: 1px solid black;
  border-left: 1px solid black; */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100px;
}

.todo-item-column {
  display: flex;
}
/*  */
.todo-days {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  /* width: 50px;  */

}
.todo-days-habits {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%; 
}

/*  */
.todo-completed-column{
  /* width: 80px; */
  width: 100px;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.habit-box {
  width: 36px;
  height: 36px;
  background: #EEEEEE;
  opacity: 0.70;
  border-radius: 8px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  background-color: green;
}
.not-done {
  background-color: red;
}

.button {
  text-decoration: none;
  display: hidden;
}
.locked {
  background-color: gray;
}
.todo-item p {
  /* font-family: 'Panton', sans-serif; */
  font-family: Futura, "Trebuchet MS";
  /* font-family: 'Inter'; */
  font-weight: bold;
  text-transform: uppercase;
}
.todo-days p {
  /* font-family: 'Panton', sans-serif; */
  /* font-family: 'Inter'; */
  font-family: Futura, "Trebuchet MS";
  font-weight: bold;
}
.input {
  margin-left: 10px;
  color: black;
}
.button {
  font-weight: bold;
  width: 36px;
  height: 36px;
  background: #EEEEEE;
  opacity: 0.70;
  border-radius: 8px;
  /* margin-bottom: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;

}
.habit-list-board {
  display: flex;
  margin-top: 30px;
  /* width: 60%; */
  flex-direction: column;
  /* justify-content: space-around; */
  text-align: center;
}
.container{
  width: 80%;
}

.rules-container {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  /* font-family: 'Panton', sans-serif; */
  font-family: Futura, "Trebuchet MS";
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
}
.rules-container h2 {
  margin-bottom: 5px;
}
.rules-container h2:first-child {
  text-decoration: underline;
}
.delete {
background-color: red;
opacity: 100%;

}
.completed-column {
  /* border: 1px solid black; */
  height: 100%;
  display: flex;
  /* width: 50px; */
  flex-direction: column;
  flex-wrap: wrap;
}
.button:hover {
  opacity: 60%;
}
@media only screen and (max-width: 600px) {
      .habit-list-board {
        display: flex;
        flex-direction: column;
        width: 100%;

      }
      .app {
        margin: 0;
      } 
      .input-container {
        display: flex;
      
      }
      /* Rows in the habit List */
      .todo-days {
        width: 60px;
      }
      .todo-item {
        width: 60px;
      }
      .todo-completed-column {
        width: 80px;
      }
      .rules-container {
        margin-top: 50px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .todo-item {
        width: 60px;
      }


    }